trajnetv/*
/.DS_Store
.vscode/settings.json
trajnetplusplusbaselines/trajnetbaselines/vae/playground.py
trajnetplusplusbaselines/z_val.log
trajnetplusplusbaselines/DATA_BLOCK/
trajnetplusplusbaselines/goal_files
trajnetplusplusbaselines/goal_files*
trajnetplusplusdataset/interactions
trajnetplusplusdataset/goal_files
*.out
*.sh
Python-RVO2-master/dist/pyrvo2-0.0.0-py3.7-macosx-10.15-x86_64.egg
