trajnetv/*
/.DS_Store
.vscode/settings.json
trajnetplusplusbaselines/trajnetbaselines/vae/playground.py
trajnetplusplusbaselines/z_val.log
trajnetplusplusbaselines/DATA_BLOCK/synth_large_54/
trajnetplusplusbaselines/goal_files_54
trajnetplusplusbaselines/goal_files